body{
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-family: Roboto sans-serif;
  overflow-y: auto;
  color: #365359;
}

.title{
  font-size: 4rem;
}

#optionPanel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.optionBtn {
  display: flex;
  justify-content: space-between;
}
.optionBtn button {
  border-radius: 0.2rem;
  padding: 1rem 2rem;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  background-color: #F2D9D0;
}

#infoPanel {
  display: none; 
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

#userWinBanner {
  
}

.playerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  width: 420px;
  height: 420px;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.boardRow {
  display: flex;
  flex-direction: row;
}

.cell {
  border: 1px solid black;
  cursor: pointer;
  width: 30%;
  height: 30%;
  background-color: #F2D9D0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
.cell:hover{
  transform: scale(1.15);
  transition: 0.2s;
}

.no-borderleft {
  border-left: 0px;
}

.no-borderright {
  border-right: 0px;
}

.no-bordertop {
  border-top: 0px;
}

.no-borderbottom {
  border-bottom: 0px;
}